<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}Microblogging</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light d-flex" style="background-color: #1c6db5;">
                <h1 class="title">Microblogging</h1>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('posts') }}">Posts</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        {% if connected %}
                            <a href="{{ url_for('register') }}">Register</a>
                            <a href="{{ url_for('login') }}">Log in</a>
                        {% else %}
                            <a href="{{ url_for('logout') }}">Log out</a>
                        {% endif %}
                    </span>
                </div>
			</nav>
        </header>
        <main>
            <div class="main">
                {% block main %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="container" style="text-align: center;">
              <span class="text-muted">Copyright by Lucas VANTOMME</span>
            </div>
        </footer>
      

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../static/jquery-3.3.1.min.js"></script>
        <script src="../static/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5mdXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>