{% extends "base.html" %}
{% block main %}
    <section>
        <div class="container">
            <h2 class="title">Posts</h2>
            <a href="{{ url_for('post_create') }}">Créer un nouveau post</a>
            <hr>
        </div>
        <div class="posts">
            {% for post in posts %}
            <div class="card container" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h3 style="font-weight: bolder; color: #1c6db5;">{{ post.title }}</h3>
                    <h5 style="font-style: italic; color: gray;">By {{ post.author.username }}</h5>
                    <a href="{{ url_for('post_edit', publication_id=post.id) }}">Edit</a>
                    <br>
                    <br>
                    <p>{{ post.body }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}