{% extends "base.html" %}
{% block main %}
    <section>
        <div class="container">
            <h2 class="title">Login</h2>
            <hr>
            <br>
            <form method="POST">
                {% for field in form %}
                    <div class="form-group">
                        {% if field.widget.input_type != 'hidden' %}
                            {{ field.label() }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                <div class="alert alert-error">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {{ field(class='form-control') }}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Se connecter</button>
                {% if error %}
                    <label style="color:red">"error login or password"</label>
                {% endif %}
            </form>
        </div>
    </section>
{% endblock %}