{% extends "base.html" %}
{% block main %}
    <section>
        <div class="container">
            <h2 class="title">Register</h2>
            <hr>
            <br>
            <form class="form" method="POST">
                {% for field in form %}
                    {% if field.widget.input_type != 'hidden' %}
                        {{ field.label() }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <div class="alert alert-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {{ field(class='form-control') }}
            
                {% endfor %}
                <button class="btn btn-success" type="submit">Créer</button>
            </form>
        </div>
    </section>
{% endblock %}